body, .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin: 2px;
    padding: 2px;
    width: 10rem;
    text-align: center;
}

#eightball-img {
    width: 500px;
    height: 500px;
}